/*section sobre*/
#about {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #00b8e6;
}

#about img {
    width: min(350px, 90%);
    height: auto;
}