/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.9rem;
    background-color: #000000;
    border-top: 2px solid #00b8e6;
    font-weight: 500;
    padding: 20px 0;
    color: #fff;
}

.social-media {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.social-media i{
    font-size: 1.5rem;
    color: #00b8e6;
}