/*section services*/
#services>div {
    display: grid;
    grid-template-areas:
        'site ecommerce ux-ui'
        'site seo social';
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2%;
    font-size: 1rem;
    padding: 20px 0;
}

@media (max-width: 768px) {

    #services>div {
        grid-template-areas:
            'site site'
            'ecommerce ux-ui'
            'seo social';
        grid-template-columns: 1fr 1fr;
    }
}

.site {
    grid-area: site;
}

.ecommerce {
    grid-area: ecommerce;
}

.ux-ui {
    grid-area: ux-ui;
}

.seo {
    grid-area: seo;
}

.social {
    grid-area: social;
}

#services>div article {
    border: 1px solid #00b8e6;
    width: 100%;
    border-radius: 10px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#services>div img {
    width: 80%;
}